{{#users}}
<div class="mix {{roleId}} {{сityId}} {{restaurantId}}">
    <div class="row user-name">
        <div class="col-lg-12">
            {{name}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            Роль:
        </div>
        <div class="col-xs-8">
            {{role}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Город:
        </div>
        <div class="col-xs-8">
            {{сity}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Ресторан:
        </div>
        <div class="col-xs-8">
            {{restaurant}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Телефон:
        </div>
        <div class="col-xs-8">
            {{phone}}
        </div>
    </div>
</div>
{{/users}}