<div id="userInfo" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Сведения о пользователе</h4>
    </div>
    <form id="userForm">
        <div class="modal-body">
            <div id="user-ctx"></div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <label for="login">Логин:</label>
                        <input id="login" class="form-control" type="text" value="{{usr.login}}" required {{#existing}} disabled {{/existing}} {{^canEditUser usr}} disabled {{/canEditUser}}>
                    </p>
                    {{#canEditUser usr}}
                    {{^../existing}}
                    <p>
                        <label for="password">Пароль:</label>
                        <input id="password" class="form-control" type="password" required>
                    </p>
                    <p>
                        <label for="password2">Повторите пароль:</label>
                        <input id="password2" class="form-control" type="password" required>
                    </p>
                    {{/../existing}}
                    {{/canEditUser}}
                    <p>
                        <label for="email">Эл. почта:</label>
                        <input id="email" class="form-control" type="email" value="{{usr.email}}" {{^canEditUser usr}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="rest">Ресторан:</label>
                        <select id="rest" class="selectpicker" data-width="100%" {{#existing}} disabled {{/existing}}{{^canEditUser usr}} disabled {{/canEditUser}}>
                            {{#restorans}}
                                <option value="{{val}}">{{text}}</option>
                            {{/restorans}}
                        </select>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <label for="name">Ф.И.О.:</label>
                        <input id="name" class="form-control" type="text"  value="{{usr.name}}" required {{^canEditUser usr}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="phone">Телефон:</label>
                        <input id="phone" class="form-control" type="tel" value="{{usr.phone}}"{{^canEditUser usr}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="role">Роль:</label>
                        <select id="role" class="selectpicker" data-width="100%" {{#existing}} disabled {{/existing}}{{^canEditUser usr}} disabled {{/canEditUser}}>
                            {{#existing}}
                                <option value="{{usr.role.val}}">{{usr.role.text}}</option>
                            {{/existing}}
                            {{^existing}}
                                {{#user.regRoles}}
                                    <option value="{{val}}" {{#ifUserRole ../usr}} selected {{/ifUserRole}}>{{text}}</option>
                                {{/user.regRoles}}
                            {{/existing}}
                        </select>
                    </p>
                </div>
            </div>
            <input id="userModalResult" type="hidden">
            <div class="row">
                <div class="col-md-12">
                    <label for="extra">Доп. информация:</label>
                    <textarea id="extra" rows="4" class="form-control" {{^canEditUser usr}} disabled {{/canEditUser}}>{{usr.extra}}</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{#canEditUser usr}}
            {{#../existing}}
                {{#canDeleteUser usr}}
                <button id="delete" type="button" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i></button>
                {{/canDeleteUser}}
                <button id="update" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Сохранить</button>
            {{/../existing}}
            {{^../existing}}
                <button id="register" class="btn btn-primary" type="submit">Зарегистрировать</button>
            {{/../existing}}
            {{#existing}}
                <button id="resetpwd" type="button" class="btn btn-warning pull-left">Сменить пароль</button>
            {{/existing}}
            {{else}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            {{/canEditUser}}

        </div>
    </form>
</div>
<script>
    var existing = {{#existing}}true{{else}}false{{/existing}};
    var user = {
        _id: "{{usr._id}}",
        name: "{{usr.name}}",
        email: "{{usr.email}}",
        phone: "{{usr.phone}}",
        extra: "{{usr.extra}}"
    };
</script>
{{{require "user"}}}