<div id="userInfo" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Сведения о пользователе</h4>
    </div>
    <form id="userForm" data-id="{{usr._id}}">
        <div class="modal-body">
            <div id="user-ctx"></div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <label for="login">Логин:</label>
                        <input id="login" class="form-control" type="text" value="{{usr.login}}" required {{#existing}} disabled {{/existing}} {{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                    </p>
                    {{#canEditUser usr}}
                    {{^../existing}}
                    <p>
                        <label for="password">Пароль:</label>
                        <input id="password" class="form-control" type="password" required>
                    </p>
                    <p>
                        <label for="password2">Повторите пароль:</label>
                        <input id="password2" class="form-control" type="password" required>
                    </p>
                    {{/../existing}}
                    {{/canEditUser}}
                    <p>
                        <label for="email">Эл. почта:</label>
                        <input id="email" class="form-control" type="email" value="{{usr.email}}" {{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="rest">Ресторан:</label>
                        <select id="rest" class="selectpicker" data-width="100%" {{#existing}} disabled {{/existing}}{{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                            {{#restorans}}
                                <option value="{{val}}">{{text}}</option>
                            {{/restorans}}
                        </select>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <label for="name">Ф.И.О.:</label>
                        <input id="name" class="form-control" type="text"  value="{{usr.name}}" required {{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="phone">Телефон:</label>
                        <input id="phone" class="form-control" type="tel" value="{{usr.phone}}"{{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                    </p>
                    <p>
                        <label for="role">Роль:</label>
                        <select id="role" class="selectpicker" data-width="100%" {{#existing}} disabled {{/existing}}{{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>
                            {{#existing}}
                                <option value="{{usr.role.val}}">{{usr.role.text}}</option>
                            {{/existing}}
                            {{^existing}}
                                {{#user.regRoles}}
                                    <option value="{{val}}" {{#ifUserRole ../usr}} selected {{/ifUserRole}}>{{text}}</option>
                                {{/user.regRoles}}
                            {{/existing}}
                        </select>
                    </p>
                </div>
            </div>
            <input id="userModalResult" type="hidden">
            <div class="row">
                <div class="col-md-12">
                    <label for="extra">Доп. информация:</label>
                    <textarea id="extra" rows="4" class="form-control" {{#canEditUser usr}}{{else}} disabled {{/canEditUser}}>{{usr.extra}}</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{#canEditUser usr}}
            {{#../existing}}
                {{#canDeleteUser usr}}
                <button id="delete" type="button" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i>&nbsp;Удалить</button>
                {{/canDeleteUser}}
                <button id="update" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Сохранить</button>
            {{/../existing}}
            {{^../existing}}
                <button id="register" class="btn btn-primary" type="submit">Зарегистрировать</button>
            {{/../existing}}
            {{#existing}}
                <button id="resetpwd" type="button" class="btn btn-warning pull-left">Сменить пароль</button>
            {{/existing}}
            {{else}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            {{/canEditUser}}

        </div>
    </form>
</div>
<script>
    require(["jquery", "api", "safe", "clitpl", "jquery-block", "bootstrap-select", "bootstrap-modalmanager"], function ($, api, safe, tf) {
        $(function () {
            if(window.browser.device) {
                $('.selectpicker').selectpicker('mobile');
            }else{
                $('.selectpicker').selectpicker();
            }
        });

        {{#canEditUser usr}}
                var $form = $('#userForm');
                function strEq(v) {
                    if (!v)
                        return "";
                    else
                        return v.toString();
                }
                    $form.submit(function (e) {
                        e.preventDefault();
                        safe.run(function (cb) {
                            var toAdd = {};
            {{^../existing}}
                            if ($('#password').val().trim() != $('#password2').val().trim()){
                                $('#password2').focus();
                                appError({message: "Введённые пароли не совпадают"}, null, '#user-ctx');
                                return false;
                            }
                            toAdd.password = $('#password').val().trim();
            {{/../existing}}
                            toAdd.login = $('#login').val().trim();
                            toAdd.restId = '54eee9ef2318bd66b21d79aa';// $('#rest').val();
                            toAdd.name = $('#name').val().trim();
                            toAdd.role = $('#role').val().trim();
                            if ($('#email').val().trim())
                                toAdd.email = $('#email').val().trim();
                            if ($('#phone').val().trim())
                                toAdd.phone = $('#phone').val().trim();
                            if ($('#extra').val().trim())
                                toAdd.extra = $('#extra').val().trim();
                            $form.block();
            {{#../existing}}
                            toAdd._id = $form.data().id;
                            if (strEq(toAdd.name) == "{{usr.name}}" && strEq(toAdd.email) == "{{usr.email}}" &&
                                    strEq(toAdd.phone) == "{{usr.phone}}" && strEq(toAdd.extra) == "{{usr.extra}}") {
                                $('#userInfo').modal('hide');
                                return false;
                            }

                            api.call("user.updateInfo", toAdd, cb);
                        }, function (err) {
                            $form.unblock();
                            if (err){
                                appError(err, null, '#user-ctx');
                            }else{
                                $('#userModalResult').val('update');
                                $('#userInfo').modal('hide');
                                setTimeout(function(){
                                    appInfo({message:"Данные обновлены"})
                                }, 500);
                            }
                        });
                            return false;
                        });
            {{/../existing}}
            {{^../existing}}
                            api.call("user.register", toAdd, cb);
                        }, function (err) {
                            $form.unblock();
                            if (err){
                                appError(err, null, '#user-ctx');
                            }else{
                                $('#userModalResult').val('register');
                                $('#userInfo').modal('hide');
                                setTimeout(function(){
                                    appInfo({message:"Пользователь добавлен"})
                                }, 500);
                            }
                        });
                        return false;
                    });
            {{/../existing}}

        {{/canEditUser}}

        {{#existing}}
            $('#resetpwd').click(function(){
                tf.render('change-pwd', {id: "{{usr._id}}"}, safe.sure(appError, function (text) {
                    $("#modal-2").html(text);
                    $('#userChangePwd').modal();
                }));
            });
        {{/existing}}
        {{#canDeleteUser usr}}
            $('#delete').click(function(){
                tf.render('delete-user', {id: "{{usr._id}}", name: "{{usr.name}}"}, safe.sure(appError, function (text) {
                    $("#modal-2").html(text);
                    $('#userDelete').modal();
                }));
            });
            $('body').on('hidden.bs.modal', '#userDelete', function(){
                var result = $('#userModalResult').val();
                if (result == 'delete'){
                    $('#userInfo').modal('hide');
                }else{
                    $('#userModalResult').val('');
                }
            });
        {{/canDeleteUser}}
    });
</script>